*{
    margin: 0;
    padding: 0;
}

h2{
    text-align: center;
    margin: 30px 0px;
    color: rgba(56, 145, 166, 0.9);
}

.inputs{
    width: 400px;
    margin: 0 auto;
    
}
.boton{
    width: 100%;
    background: rgba(202, 60, 37, 0.9);
    border: none;
    color: white;
    border-radius: 8px;
    margin: 10px 0;
    margin-bottom: 40px;
}

.caja{
    width: 100%;
    border: 0px;
    background: rgba(56, 145, 166, 0.2);
    
}

#caja{
    border: 2px solid black; 
    border: 2px solid rgba(56, 145, 166, 0.9);
}

#caja-color{
    width: 100%x;
    height: 100px;

}

.colors{
    width: 60%;
    margin: 0 auto;
}


.response{
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    border: 1px solid rgba(202, 60, 37, 0.9);
    border-radius: 30px;
    padding: 10px;
}
.opcion{
    text-align: center;
    margin-bottom: 40px;
}